.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;

    &.scrolled {
        box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.3);
    }

    & .navigation{
        padding: 15px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            font-size: 40px;
            display: flex;
            color: var(--color-orange);
        }


        & ul{
            display: flex;
            list-style: none;


            & li{
                display: flex;
                margin-left: 20px;

                & a{
                    font-size: 20px;
                    text-decoration: none;
                    transition: 0.4s;
                    color: var(--color-black);
                }

                & a:hover{
                    opacity: 2;
                    color: var(--color-orange);
                }
            }

            & li:hover{
                opacity: 2;
                border-bottom: 1px solid var(--color-orange);
                color: var(--color-orange);
            }
        }


    }
}

