.header{
    width: 100%;
    & .navigation{
        padding: 15px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            width: 30px;
            display: flex;
            color: var(--color-orange);
        }


        & ul{
            display: flex;
            list-style: none;


            & li{
                display: flex;
                margin-left: 20px;

                & a{
                    font-size: 20px;
                    text-decoration: none;
                    transition: 0.4s;
                    color: var(--color-black);
                }

                & a:hover{
                    opacity: 2;
                    color: var(--color-orange);
                }
            }

            & li:hover{
                opacity: 2;
                border-bottom: 1px solid var(--color-orange);
                color: var(--color-orange);
            }
        }


    }
}

